{% extends 'admin_panel/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block main-content %}
    <div class="container my-5">
        <div class="row">
            <h3>Welcome <span class="text-capitalize">{{ request.user }}</span></h3>
            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid"><a href="{% url 'outlet_add' %}" class="btn {{ active }}">Outlet Add</a></li>
                    <br>
                    <li class="d-grid"><a href="{% url 'outlets_edit_delete' %}" class="btn">Outlet Details</a></li>
                    <br>
                    <li class="d-grid"><a href="{% url 'product_add' %}" class="btn">Product Add</a></li>
                    <br>
                    <li class="d-grid"><a href="{% url 'product_edit_delete' %}" class="btn">Products Details</a></li>

                </ul>
            </div>

            <div class="col-sm-8 offset-sm-1">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for fm in form %}
                        <div class="form-group "  >
                            {{ fm.label_tag }} {{ fm }} <small class="text-danger">{{ fm.errors|striptags }}</small>
                        </div>

                    {% endfor %}
                    <div class="col-12 mt-3">
                        <input type="submit" class="btn btn-primary mt-4" value="Submit">
                    </div>
                </form>
                {% if messages %}
                    {% for message in messages %}
                        <p
                                {% if message.tags %}
                                    class="alert alert-{{ message.tags }} mb-5"
                                {% endif %}
                        >{{ message }}</p>
                    {% endfor %}

                {% endif %}
            </div>
        </div>
    </div>



{% endblock main-content %}