{% extends 'admin_panel/base.html' %}
{% load static %}
{% block title %}Outlet Info{% endblock title %}
{% block main-content %}
    <div class="container my-5">
        <div class="row">
            <h3>Total Outlets : {{ count_outlets }}</h3>
{#            <h3>Welcome {{ request.user.username|capfirst }}</h3>#}
            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid"><a href="{% url 'all_outlet' %}" class="btn {{ active }}">Outlets</a></li>
                </ul>
            </div>
            <div class="col-sm-9 offset-sm-1">
                <div class="row">
                    {% for outlet in outlets %}
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h3>Outlet {{ forloop.counter }}</h3>
                                    <p>Name: {{ outlet.name }}</p>
                                    <p>Address : {{ outlet.address }}</p>
                                    <p>Phone : {{ outlet.phone }}</p>
                                    <p>Manager Name : {{ outlet.manager_name }}</p>
                                    <p>Address Latitude : {{ outlet.address_latitude }} °</p>
                                    <p>Manager Longitude : {{ outlet.address_longitude }} °</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock main-content %}