{% extends 'admin_panel/base.html' %}
{% load static %}
{% block title %}Outlet edit delete{% endblock title %}
{% block main-content %}
    <div class="container my-5">
        <div class="row">
            <h3>Welcome <span class="text-capitalize">{{ request.user }}</span></h3>
            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid"><a href="{% url 'outlet_add' %}" class="btn">Outlet Add</a></li>
                    <br>
                    <li class="d-grid"><a href="{% url 'outlets_edit_delete' %}" class="btn {{ active }}">Outlet Details</a></li>
                    <br>
                    <li class="d-grid"><a href="{% url 'product_add' %}" class="btn">Product Add</a></li>
                    <br>
                    <li class="d-grid"><a href="{% url 'product_edit_delete' %}" class="btn">Products Details</a></li>

                </ul>
            </div>

            <div class="col-sm-8 offset-sm-1">
            <h2>Total Outlets : {{ count }}</h2>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NAME</th>
                        <th scope="col">Address</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Manager Name</th>
                    </tr>
                    </thead>

                    <tbody id="tbody">
                    {% for outlet in outlets %}
                        <tr>
                            <td>{{ outlet.id }}</td>
                            <td>{{ outlet.name }}</td>
                            <td>{{ outlet.address }}</td>
                            <td>{{ outlet.phone }}</td>
                            <td>{{ outlet.manager_name }}</td>
                            <td>{{ outlet.opening_time }}</td>
                            <td>{{ outlet.closing_time }}</td>
                            <td>{{ outlet.off_day }}</td>
                            <td>{{ outlet.off_day }}</td>
                            <td>{{ outlet.outlet_image }}</td>
                            <td>
                                <a href="{% url 'outlet_update' outlet.id %}" type="button" class="btn btn-warning btn-sm btn-edit">Edit</a>
                                <form action="{% url 'outlet_delete' outlet.id %} " method="POST" class="d-inline">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-danger btn-sm btn-del" value="delete">

                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    </div>



{% endblock main-content %}