{% extends 'admin_panel/base.html' %}
{% load static %}
{% block title %}Outlet Info{% endblock title %}
{% block main-content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid"><a href="{% url 'about' %}" class="btn btn-primary">About</a></li>
                    <br>
                    <li class="d-grid"><a href="{% url 'all_outlet' %}" class="btn {{ active }}">Outlets</a></li>
                    <br>
                    <li class="d-grid"><a href="{% url 'outlet_locations' %}" class="btn {{ active }}">Outlet Locations</a></li>
                </ul>
            </div>
            <div class="col-sm-9 offset-sm-1">
            <h2>Total Outlets : {{ count_outlets }}</h2>
                <div class="row">
                    <h2>All Outlets of Mens Park :</h2>
                    {% for outlet in outlets %}
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    {#                                    <h3>Outlet {{ forloop.counter }}</h3>#}
                                    <p>Name: {{ outlet.name }}</p>
                                    <p>Address : {{ outlet.address }}</p>
                                    <p>Phone : {{ outlet.phone }}</p>
                                    <p>Manager Name : {{ outlet.manager_name }}</p>
                                    <p>Opening Time : {{ outlet.opening_time }}</p>
                                    <p>Closing Time : {{ outlet.closing_time }}</p>
                                    <p>Off Day : {{ outlet.off_day }}</p>

                                    <a href="{% url 'outlet_locations' %}" class="btn btn-primary">View</a>

                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock main-content %}